<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Фруктовый рай</title>
</head>
<body>
    <h1 align="center">{{ title }}</h1>
    <div style="display: flex; justify-content: center; align-items: center; height: 150px;">
        <ul>
            <li><h4>{{ mango }} <button>{{ buy }}</button></h4></li>
            <li><h4>{{ ananas }} <button>{{ buy }}</button></h4></li>
            <li><h4>{{ granat }} <button>{{ buy }}</button></h4></li>
        </ul>
    </div>
    <div style="text-align: center">
        <a href="http://127.0.0.1:8000/main/"><button>{{ back }}</button></a>
    </div>
</body>
</html>